.textInfosContainer {
    display: flex;
    flex-direction: column;
  }
  
  .coverSize img {
    width: 15vw;
  }
  
  .title {
    font-size: 20px;
    margin: 0;
    padding: 0;
  }
  
  .artist {
    font-size: 15px;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    padding-bottom: 5vh;
  }