/* CSS variables */
:root {
  --primary-color: #007bff;
  --secondary-color: #f68d28;
  background-image: url(./assets/img-noise-1080x1920.png);
  overflow: hidden;
  background-color: #f68d28;
  font-family: "Montserrat";
}

.App {
  min-height: 100vh;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #fff3db;
  overflow: hidden;
}

.background span {
  width: 50vmin;
  height: 50vmin;
  border-radius: 50vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 1;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #eabdbf;
  top: 59%;
  left: 85%;
  animation-duration: 56s;
  animation-delay: -466s;
  transform-origin: -11vw -17vh;
  box-shadow: 100vmin 0 12.651349461320557vmin currentColor;
}
.background span:nth-child(1) {
  color: #e4c99b;
  top: 50%;
  left: 58%;
  animation-duration: 187s;
  animation-delay: -208s;
  transform-origin: 12vw 12vh;
  box-shadow: 100vmin 0 13.377944100001336vmin currentColor;
}
.background span:nth-child(2) {
  color: #e4c99b;
  top: 55%;
  left: 35%;
  animation-duration: 425s;
  animation-delay: -310s;
  transform-origin: 1vw -21vh;
  box-shadow: -100vmin 0 13.119206911698484vmin currentColor;
}
.background span:nth-child(3) {
  color: #eabdbf;
  top: 55%;
  left: 23%;
  animation-duration: 102s;
  animation-delay: -9s;
  transform-origin: 23vw -14vh;
  box-shadow: -100vmin 0 12.746634004046564vmin currentColor;
}
.background span:nth-child(4) {
  color: #eabdbf;
  top: 56%;
  left: 9%;
  animation-duration: 419s;
  animation-delay: -246s;
  transform-origin: -10vw -21vh;
  box-shadow: -100vmin 0 13.11345884453779vmin currentColor;
}
.background span:nth-child(5) {
  color: #eabdbf;
  top: 10%;
  left: 62%;
  animation-duration: 116s;
  animation-delay: -306s;
  transform-origin: 1vw -7vh;
  box-shadow: 100vmin 0 12.925640785965996vmin currentColor;
}
.background span:nth-child(6) {
  color: #e4c99b;
  top: 60%;
  left: 76%;
  animation-duration: 133s;
  animation-delay: -88s;
  transform-origin: 7vw -17vh;
  box-shadow: 100vmin 0 12.860899669804418vmin currentColor;
}
.background span:nth-child(7) {
  color: #e4c99b;
  top: 67%;
  left: 85%;
  animation-duration: 443s;
  animation-delay: -169s;
  transform-origin: 16vw 3vh;
  box-shadow: 100vmin 0 12.88944842125674vmin currentColor;
}
.background span:nth-child(8) {
  color: #eabdbf;
  top: 32%;
  left: 44%;
  animation-duration: 365s;
  animation-delay: -477s;
  transform-origin: -14vw 9vh;
  box-shadow: -100vmin 0 13.134887486301484vmin currentColor;
}
.background span:nth-child(9) {
  color: #e4c99b;
  top: 45%;
  left: 52%;
  animation-duration: 320s;
  animation-delay: -191s;
  transform-origin: -10vw -8vh;
  box-shadow: -100vmin 0 12.982413695546356vmin currentColor;
}
.background span:nth-child(10) {
  color: #e4c99b;
  top: 11%;
  left: 13%;
  animation-duration: 108s;
  animation-delay: -245s;
  transform-origin: 3vw 10vh;
  box-shadow: 100vmin 0 12.740066648128542vmin currentColor;
}
.background span:nth-child(11) {
  color: #eabdbf;
  top: 48%;
  left: 77%;
  animation-duration: 16s;
  animation-delay: -423s;
  transform-origin: -12vw 22vh;
  box-shadow: 100vmin 0 12.609156108623955vmin currentColor;
}
.background span:nth-child(12) {
  color: #eabdbf;
  top: 58%;
  left: 70%;
  animation-duration: 38s;
  animation-delay: -296s;
  transform-origin: 13vw -6vh;
  box-shadow: 100vmin 0 12.769286227500988vmin currentColor;
}
.background span:nth-child(13) {
  color: #eabdbf;
  top: 39%;
  left: 17%;
  animation-duration: 173s;
  animation-delay: -220s;
  transform-origin: -8vw -3vh;
  box-shadow: 100vmin 0 12.771682784692363vmin currentColor;
}
.background span:nth-child(14) {
  color: #e4c99b;
  top: 64%;
  left: 30%;
  animation-duration: 393s;
  animation-delay: -52s;
  transform-origin: 0vw 23vh;
  box-shadow: -100vmin 0 13.337663098626951vmin currentColor;
}
