.header {
    background-color: black;
    position: fixed;
    display: flex;
    color: gray;
    padding: 1em;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 0;
    width: 100%;
    justify-content: space-around;
    
   
    
  }
  
  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;
   
  }
  
  .menuItem {
    padding: 1em;
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin: 2em;
    
  }
  